.container{
    flex: 1;
}

.emptyContainer {
    flex: 1;
    align-items: center;
    width: 240px;
    padding-top: 64px;
    margin: auto;
}

.emptyContainerIcon {
    font-size: 128;
    padding: 8px 0 4px;
    color: #ccc;
}

.emptyContainerText {
    padding: 8px 0px;
    text-align: center;
}