.heading {
    margin: 16px;
    text-align: center;
}

.block {
    margin-top: 16px;
    margin-bottom: 16px;
    margin-left: 16px;
    margin-right: 16px;
}

.actionButton {
    margin: 16px 0px
}

.textCenter{
    text-align: center;
}

.container {
    flex: 1;
    align-items: center;
    justify-content: center;
    padding: 16px 48px;
}

.statusContainer {
    padding: 16px 0px;
}

.syncIcon{
    font-size: 98px;
    padding: 0px 12px;
}