.container {
    flex: 1;
    margin: 24px 48px;
    justify-content: center;
    align-items: center;
}

.block {
    margin: 24px;
}

.textCenter {
    text-align: center;
}

.spinnerContainer {
    flex: 1;
    flex-direction: row;
    justify-content: space-around;
    padding: 8px;
}

.footerBorder {
    border-top-width: 1;
    border-top-color: #eee;
}

.colLeftBorder {
    border-left-width: 1;
    border-left-color: #eee;
}